body {
    background-color: black;
}

#moon {
    fill: black;
    stroke: white;
    stroke-width: 11;
}

.rays {
    fill: url(#ray);
    transform-origin:800px -100px;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#rayA {
  animation-duration: 5s;
  transform: rotate(45deg);
}
#rayB {
  animation-duration: 7s;
  transform: rotate(45deg);
}
#rayC {
  animation-duration: 6s;
  transform: rotate(45deg);
}
#rayD {
  animation-duration: 8s;
  transform: rotate(45deg);
}

.moonlit {
    opacity: 0.5;
}

@keyframes spin {
    0%   {opacity: 1;}
    100% {opacity: 0.2;}
  }
@keyframes spinner {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
  }

  div {
    width: 130px;
    height: 100px;
    background-color: red;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes example {
    100% {transform: rotate(360deg);}
  }
  
