body {
    background-color: black;
}

#moon {
    fill: black;
    stroke: white;
    stroke-width: 11;
}

.rays {
    fill: url(#ray);
    transform-origin:800px -100px;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#Rooms {
  stroke:white;
  stroke-width:5;
}

#rayA {
  animation-duration: 5s;
  transform: rotate(45deg);
}
#rayB {
  animation-duration: 7s;
  transform: rotate(45deg);
}
#rayC {
  animation-duration: 6s;
  transform: rotate(45deg);
}
#rayD {
  animation-duration: 8s;
  transform: rotate(45deg);
}

.moonlit {
    opacity: 0.5;
}

@keyframes spin {
    0%   {opacity: 1;}
    100% {opacity: 0.2;}
  }
@keyframes spinner {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
  }

@keyframes expand {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
} 
.MenuText{
  fill: url(#lighter);
}
#startBox{
  opacity:0.5;
}
#startBox:hover {
  fill:rgb(72, 66, 66);
}
#loadBox{
  opacity:0.5;
}
#loadBox:hover {
  fill:rgb(72, 66, 66);
}
#optionsBox{
  opacity:0.5;
}
#optionsBox:hover {
  fill:rgb(72, 66, 66);
}

/* 
Player Styling
*/

#player {
  fill:black;
  stroke-width:2px;
  stroke:white;
}