            .die {
                fill:white;
                stroke:black;
                stroke-width:3;
            }
            .pip {
                fill:black;
                stroke: black;
                visibility: visible;
            }   
            .spacer {
                margin-left: 30px;
            }
            #puck {
                fill: black;
                stroke:white;

            }
            #point {
                fill:white;
                font-family:Arial, sans-serif;
                font-size:24pt;
                text-anchor:middle;
            }
            #message {
                fill:darkred;
                font-family:Arial, sans-serif;
                font-size:18pt;
                text-anchor:middle;
            }
            #controls {
                font-size: 14pt;
                
            }