body {
    background-color: black;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 2em;
    color: gold;
}

 .button {
    background-color: #000000;
    color: white;
    cursor: pointer;
    font-family: Courier;
    font-size: 22pt;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    font-style:italic;
 }

 .button:hover {
    background-color: black;
    color: rgb(8, 7, 3);
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    border:lime;
    border-Width:2px;
 }