body {
    background-color:white;
}


.title {
    fill:white;
    font-size:50px;
}

.whiteborder {
    stroke:white;
    stroke-width:5px;
}

.maintut{
    font-size:30px;
}

.subcatut{
    font-size:27px;
}

.subtut{
    font-size:20px;
}


#roundabout {
    fill:black;
    stroke:white;
    stroke-width:5px;
}

#tutStuff{
    fill:white;
}

#point {
    fill:white;
}

#mainmenu:hover {
    cursor:default;
    user-select:none;
}

